
.buttonContainer{
	display: inline-flex;
	padding: 10px 16px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 12px;
	border: 1px solid var(--Primary-400, #34C94B);
	background: #121212;
	height: 48px;
	width: 145px;
	margin-top: 13px;
	margin-right: 13px;

}
.ButtonText{
color: var(--Primary-400, #34C94B);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}